body {
    padding: 0;
    margin: 0;
}

.main {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol {
    display: flex;
    flex-direction: column;
    gap: .35em;
}

nav {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 112, 215);
    font-size: 1rem;
}

nav div {
    max-width: 1rem;
    background-color: rgb(221, 221, 221);
    min-width: 1rem;
}

.heading {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-color: white;
    min-height: 10rem;
}

.heading h1 {
    text-align: center;
    background-color: white;
}

nav ul {
    padding: 0;
    display: flex;
    font-size: 1.65rem;
    max-width: 50%;
}

nav li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin-top: 10rem;
}

.content:hover {
    color: rgb(172, 39, 243);
    transform: scale(105%);
    cursor: pointer;
}

.content:active {
    color: rgb(172, 39, 243);
}

.home {
    cursor: pointer;
    color: white;
}

li {
    max-width: 90ch;
}